body {
  background-image: url(./img/cash-coins-money-pattern-259165.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.App {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.657);
  padding-bottom: 30px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}
